{% extends "qr2auth/base.html" %}
{% block content %}
<div align="center">
<h2>QR2Auth Challenge</h2>
{% if DEBUG %}
<h4>DEBUG: { {{ start }}, {{ end }} }{{ challenge }}</h4>
{% endif %}
<img src="data:image/svg+xml;base64,{{ qrcode_img }}" width="200" height="200" title="QR2Auth Challenge">
<h2>Enter one time password</h2>
<form method="POST" action=".">
{% csrf_token %}
<input name="username" value="{{ username }}" type="hidden">
<input name="otp" value="" id="otp" type="text" style="text-transform:uppercase">
<input name="challenge" value="{{ challenge }}" type="hidden">
<input name="start" value="{{ start }}" type="hidden">
<input name="end" value="{{ end }}" type="hidden">
<br><br>
<button type="submit">Login with QR2Auth</button>
</form>
</div>
{% endblock %}
